//--------------> Avatar Header <-----------------//
.avatar {
     height: 650px;
     position: relative;
     top: -240px;
     left: 25px;
     
     
}


//--------------------------> Front page <---------------------------//
    
 .imag__front-pag {
        height: 226px;
        position: relative;
        top: -40px;
        left: 100px;  
        
    }

