// Avatar Header //

.image__header {
     height: 350px;
     position: relative;
     margin-top: $space-small*6;
     
}

// Front page //
    
.imag__second {
    height: 226px; 
}


                 //---------> BREAK TABLET <------------//

  @include media(sm){
    // Avatar Header //
.image__header {
   height: 550px;
}
// Front page //
         
 .imag__second {
     height: 50vh;
     

 }
}
//-----------------------> BREAK MEDIUM <-------------------------------------//
@include media (md){
    // Avatar Header //
    .image__header {
       height: 550px;
    }
    // Front page //

    .imag__second{
        height: 50vh;
        
    }
}

           //---------> BREAK DESKTOP <------------//    

@include media(lg){
    // Avatar Header //
    .image__header {
        height: 800px;
       

    
    }
    // Front page //
         
    .imag__second {
     height: 600px;
     
     
    }
    
}

