// Avatar Header //

.image__header {
     height: 350px;
     position: relative;
     margin-top: $space-small*6;
     
}

// Front page //
    
.imag__front-pag {
    height: 226px;
    position: relative;
    /*box-shadow: -50px 30px 0 0px $color-main;*/
   
}


                 //---------> BREAK TABLET <------------//

  @include media(sm){
    // Avatar Header //
.image__header {
   height: 550px;
}
// Front page //
         
 .imag__front-pag {
     height: 50vh;
     

 }
}
//-----------------------> BREAK MEDIUM <-------------------------------------//
@include media (md){
    // Avatar Header //
    .image__header {
       height: 550px;
    }
    // Front page //

    .imag__front-pag{
        height: 50vh;
        
    }
}

           //---------> BREAK DESKTOP <------------//    

@include media(lg){
    // Avatar Header //
    .image__header {
        height: 800px;
        position: relative;

    
    }
    // Front page //
         
    .imag__front-pag {
     display:inline-block;
     height: 600px;
     /*box-shadow: -300px 100px 0 50px $color-main;*/
    }
    .imag__front-pag::after{
        content: '';
        display: block;
        background:$color-main;
        width: 100px;
        height: 100px;
   
        
    }
}

