//------------------------------------> CONTACT <-------------------------------------------//

.contact{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .icons__contact-small{
        display:flex;  
    }

    .icons__contact{
        display:flex;
        color:$color-main;
        margin-left: $space-medium;
        margin-bottom: $space-medium;
    }

    .message{
        height: 20vh;
    }    

    input{
        display:block;
        width: 50vw;
        padding:$space-small;
        margin-bottom: $space-small;
        background-color: $color-graydark;
        border: none;
        font-family: $fontfamily;
        color:$color-graylight;

        & :checked ~ p{
            color:$color-graylight;
        }

    }
    form :focus {
        border:$color-main 5px solid ;
        background-color:$color-white;
        color:$color-graydark;
    }
       
    
    [type="submit"]{
        background-image:linear-gradient($degraded) ;
        @include fontstyle ( 14px, $color-graydark, $bold);
        border:none;
        color: $color-graydark;
        margin-bottom: $space-verybig;
    
    }

    
}

@include media(lg){
    
    .icons__contact-container{
        display: flex;
        margin:$space-verybig;
    }

    .input-small{
        display:flex;
        
        width:10%;
    }
    
    
   
        
}





    

   
