//------------------------------------> CONTACT <-------------------------------------------//

.contact{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .icons__contact-small{
        display:flex;  
    }

    .icons__contact{
        display:flex;
        color:$color-main;
        margin-left: $space-medium;
        margin-bottom: $space-medium;
    }

    
    input{
        display:block;
        width: 257px;
        padding:$space-small;
        margin-bottom: $space-small;
        background-color: $color-graydark;
        border: none;
        font-family: $fontfamily;
        color:$color-graylight;
        

       
        


        & :checked ~ p{
            color:$color-graylight;
        }
    }
    
    
    [type="submit"]{
        background-image:linear-gradient($degraded) ;
        @include fontstyle ( 14px, $color-graydark, $bold);
        border:none;
        color: $color-graydark;
        margin-bottom: $space-verybig;
    
    }

    
}





    

   
