.skills {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
  &__container{
    flex-direction:column;
    margin-top: $space-verybig;
  }

  .open-modal{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    color:$color-graydark;
    width: 217px;
    height: 179px;
    margin: 20px;
    padding: $space-small;
    

    &:hover, &:hover h5{
      background-color: $color-main;
      color: $color-white;  
    } 
  }
}

.icons__open-modal{
  @include icons (4em);
}
.icons__modal{
  @include icons (3em);
}

.open-modal__input {
  display: none;

  &:checked + [aria="dialog"] {
    display: block;
  }
}

[aria="dialog"] {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $color-graydark-opacity;
}

.modal{
  color:$color-white;
  @include fontstyle ( 25px, $color-white, $bold);
  position: fixed;
  top: 10px;
  right:20px;
  z-index:2;
  
  &__title{
    color: $color-white;
    text-align: center;
  }
 
  
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-height: 50%;
    padding: $space-big;
    background-color: $color-main;
    color: $color-white;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    

  }
}

//-----------------------> BREAK <--------------------//
@include media(lg) {
  .skills__container {
    display: flex;
    flex-direction: row;
    
  }
  .modal__container{
    justify-content: center;
    width: 800px;
    height: 500px;
  }
  .icons__open-modal{
    @include icons (4em);
  }
  .icons__modal{
    @include icons (5em);
  }


}





