h1 {
    @include fontstyle (48px, $color-graydark, $bold);
    margin-left: $space-medium;
    margin-top: $space-medium;
    
}

h2 {
    @include fontstyle (36px, $color-main, $regular);
    margin-left: $space-medium;
}

.main-title{
    @include fontstyle (48px, $color-graydark,$bold);
    margin-top: 100px;

    &__smalltext{
     @include fontstyle (36px, $color-main, $regular);
     display: block;
     
    }

    &--right{
        text-align: right;
    }
}
   
h4 {
    @include fontstyle ( 12px, $color-main, $regular);
    width: 50%;
}

h5{
    @include fontstyle ( 18px, $color-graydark, $bold);
    
}

h6{
    @include fontstyle ( 14px, $color-graydark, $bold);
}

p{
    @include fontstyle ( 12px, $color-graydark, $regular);
    padding:$space-small;
}

