html{
    font-size: 100%;
}


body{
    background-color:$color-graylight ; 
    height: 0%; 

}

.container__header{
    display: flex;
    justify-content: left;
    overflow-x: hidden;
    max-width: 100%;
    position: relative;
}


.hello{
    @include icons (3em);
    display:flex;
    color:$color-graydark;
    transition: rotate 1s;
    margin: $space-medium;
    
    animation: greet 3s infinite;
}
@keyframes greet{    //Animation hand//
    0%{
        transform:rotate(-30deg);
    }
    50%{
        transform:rotate(20deg);
    }
    100%{
        transform:rotate(-30deg);
    }
}


.front-page{
    position: relative;
    height: 100vh;

}

.color-cube{
    display: flex;
    background-color: $color-main;
    position:relative;
    width: 239px;
    height: 226px; 
    justify-content: left;
    margin-right: $space-verybig;
}
.second-image{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: 250px;
   
}


//------------------------> BREAK TABLET <-----------------------------------//
@include media(sm){
.container__header{
    overflow-y: hidden;
    justify-content: center;
}
.color-cube{
    width: 350px;
    height: 350px;
}
.second-image{
    bottom:450px;
}

}
//-----------------------> BREAK MEDIUM <-------------------------------------//@each $

@include media (md){
    .hello{
        @include icons(4em);
    }
    .color-cube{
        width: 40vw;
        height: 400px;
    }
    .second-image{
        bottom:450px;
        
    }
}

    
//------------------------> BREAK DESKTOP <-----------------------------------//

@include media(lg) {
    

    .hello{
        @include icons (6em);
        
        
    }

    .front-page{
        margin-top: 40vh;
        height: 108vh;
       
    }
    .second-image{
        display: flex;
        justify-content:center;
        position: relative;
        bottom: 550px;
        left: 90px;
        margin-bottom: 150px;
    
    }

    .color-cube{
        display: flex;
        background-color: $color-main;
        width: 30vw;
        height: 600px; 
        margin-top: $space-medium;
    }

    .skills__container{
        height: 40vh;
    }

    .contact{
        height: 100vh;
    }
}



