html{
    font-size: 100%;
}

body, html{
    height: 100%;
}

body{
    background-color:$color-graylight ;    
}

    
header{
    height: 640px;
    
}

.hello{
    display:flex;
    color:$color-graydark;
    transition: rotate 1s;
    margin: $space-medium;
    animation: greet 3s infinite;
}
@keyframes greet{
    0%{
        transform:rotate(-30deg);
    }
    50%{
        transform:rotate(20deg);
    }
    100%{
        transform:rotate(-30deg);
    }
}

.color-cube{
    display:inline-block;
    background-color: $color-main;
    width: 239px;
    height: 226px; 
}

@include media(lg) {
  
    .hello{
        display: flex;
        flex-direction: row;
    }

    .color-cube{
        background-color: $color-main;
        width: 539px;
        height: 526px; 
    }
}



