html {
  font-size: 100%;
}

body, html {
  height: 100%;
}

body {
  background-color: #F2F2F2;
  width: 360px;
}

header {
  height: 640px;
}

.hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4B4B4B;
  -webkit-transition: rotate 1s;
  transition: rotate 1s;
  margin: 24px;
  -webkit-animation: greet 3s infinite;
          animation: greet 3s infinite;
}

@-webkit-keyframes greet {
  0% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

@keyframes greet {
  0% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}
.color-cube {
  background-color: #FFC700;
  width: 239px;
  height: 226px;
  margin-top: 80px;
}

h1 {
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  color: #4B4B4B;
  font-weight: 700;
  margin: 6px;
  margin-left: 24px;
  margin-top: 24px;
}

h2 {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  color: #FFC700;
  font-weight: 400;
  margin: 6px;
  margin-left: 24px;
}

.main-title {
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  color: #4B4B4B;
  font-weight: 700;
  margin: 6px;
  margin-top: 100px;
}
.main-title__smalltext {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  color: #FFC700;
  font-weight: 400;
  margin: 6px;
  display: block;
}
.main-title--right {
  text-align: right;
}

.occupation {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: #FFC700;
  font-weight: 400;
  margin: 6px;
  width: 35%;
  position: absolute;
  left: 24px;
  top: 590px;
}

h5 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #4B4B4B;
  font-weight: 700;
  margin: 6px;
}

h6 {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #4B4B4B;
  font-weight: 700;
  margin: 6px;
}

p {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: #4B4B4B;
  font-weight: 400;
  margin: 6px;
  padding: 12px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact .icons__contact-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact .icons__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFC700;
  margin-left: 24px;
  margin-bottom: 24px;
}
.contact input {
  display: block;
  width: 257px;
  padding: 12px;
  margin-bottom: 12px;
  background-color: #4B4B4B;
  border: none;
  font-family: "Poppins", sans-serif;
  color: #F2F2F2;
}
.contact input .message {
  height: 92px;
}
.contact input :checked ~ p {
  color: #F2F2F2;
}
.contact [type=submit] {
  background-image: linear-gradient(150deg, #FFC700, #85e8eb);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #4B4B4B;
  font-weight: 700;
  margin: 6px;
  border: none;
  color: #4B4B4B;
}

.avatar {
  height: 650px;
  position: relative;
  top: -240px;
  left: 25px;
}

.imag__front-pag {
  height: 226px;
  position: relative;
  top: -40px;
  left: 100px;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.skills .open-modal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 217px;
  height: 179px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: #4B4B4B;
}
.skills .open-modal:hover, .skills .open-modal:hover h5 {
  background-color: #FFC700;
  color: white;
}

.open-modal__input {
  display: none;
}
.open-modal__input:checked + [aria=dialog] {
  display: block;
}

[aria=dialog] {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  position: fixed;
  bottom: 92%;
  left: 95%;
}
.modal__container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 90vw;
  max-height: 80vh;
  padding: 48px;
  background-color: #FFC700;
  color: #4B4B4B;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (min-width: 1024px) {
  [aria=dialog] {
    max-height: 80vh;
  }
}
.scroll__header {
  background-image: linear-gradient(150deg, #FFC700, #85e8eb);
  color: #F2F2F2;
  position: absolute;
  height: 60px;
  width: 50px;
  right: 12px;
  bottom: -19px;
}
.scroll__header .arrow {
  position: absolute;
  top: 5px;
  left: 3px;
  -webkit-animation: arrow 2s ease-in-out infinite;
          animation: arrow 2s ease-in-out infinite;
}
@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
@keyframes arrow {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.scroll__front-page {
  background-image: linear-gradient(150deg, #FFC700, #85e8eb);
  color: #F2F2F2;
  position: absolute;
  height: 60px;
  width: 50px;
  right: 12px;
  bottom: -680px;
}
.scroll__front-page .arrow {
  position: absolute;
  top: 5px;
  left: 3px;
  -webkit-animation: arrow 2s ease-in-out infinite;
          animation: arrow 2s ease-in-out infinite;
}
@keyframes arrow {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.scroll__skills {
  background-image: linear-gradient(150deg, #FFC700, #85e8eb);
  color: #F2F2F2;
  position: absolute;
  height: 60px;
  width: 50px;
  right: 12px;
  bottom: -1459px;
}
.scroll__skills .arrow {
  position: absolute;
  top: 5px;
  left: 3px;
  -webkit-animation: arrow 2s ease-in-out infinite;
          animation: arrow 2s ease-in-out infinite;
}
@keyframes arrow {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.color-bg-graylight {
  background-color: #F2F2F2;
}

.color-bg-graydark {
  background-color: #4B4B4B;
}

.color-bg-main {
  background-color: #FFC700;
}

.space-margin-unit {
  margin-top: 6px;
}

.space-margin-small {
  margin-top: 12px;
}

.space-margin-medium {
  margin-top: 24px;
}

.space-margin-big {
  margin-top: 36px;
}

.space-margin-verybig {
  margin-top: 48px;
}