html {
  font-size: 100%;
}

body, html {
  height: 100%;
}

body {
  background-color: #F2F2F2;
}

.hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4B4B4B;
  -webkit-transition: rotate 1s;
  transition: rotate 1s;
  margin: 24px;
  padding-bottom: 36px;
  -webkit-animation: greet 3s infinite;
          animation: greet 3s infinite;
}

@-webkit-keyframes greet {
  0% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

@keyframes greet {
  0% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}
.color-cube {
  background-color: #FFC700;
  width: 239px;
  height: 226px;
}

h1 {
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  color: #4B4B4B;
  font-weight: 700;
  margin: 6px;
  margin-left: 24px;
}

h2 {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  color: #FFC700;
  font-weight: 400;
  margin: 6px;
  margin-left: 24px;
}

h3 {
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  color: #4B4B4B;
  font-weight: 700;
  margin: 6px;
  margin-left: 24px;
}

.text {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  color: #FFC700;
  font-weight: 400;
  margin: 6px;
  margin-left: 24px;
  padding-left: 15vw;
}

h4 {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: #FFC700;
  font-weight: 400;
  margin: 6px;
  margin-left: 24px;
  width: 50%;
  padding-top: 70%;
}

h5 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #4B4B4B;
  font-weight: 700;
  margin: 6px;
  margin-left: 24px;
}

h6 {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #4B4B4B;
  font-weight: 400;
  margin: 6px;
  margin-left: 24px;
}

p {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: #4B4B4B;
  font-weight: 400;
  margin: 6px;
  margin-left: 24px;
}

input {
  display: block;
  width: 20vw;
  padding: 12px;
  margin-bottom: 12px;
  background-color: #4B4B4B;
  color: #F2F2F2;
}
input [type=submit] {
  background-image: linear-gradient(150deg, #FFC700, #85e8eb);
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
input :checked ~ p {
  color: #F2F2F2;
}

.container__input-modal {
  background-color: white;
  width: 217px;
  height: 179px;
  margin: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container__input-modal :hover {
  background-color: #FFC700;
  color: white;
}

.open-modal {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #4B4B4B;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #4B4B4B;
  font-weight: 700;
  margin: 6px;
  margin-left: 24px;
}

.open-modal__input {
  display: none;
}
.open-modal__input:checked + [aria=dialog] {
  display: block;
}

[aria=dialog] {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  position: fixed;
  bottom: 92%;
  left: 95%;
}
.modal__container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 90vw;
  max-height: 80vh;
  padding: 48px;
  background-color: #FFC700;
  color: #4B4B4B;
  overflow-y: auto;
}

@media all and (min-width: 1024px) {
  [aria=dialog] {
    max-height: 80vh;
  }
}
.scroll__container {
  background-image: linear-gradient(150deg, #FFC700, #85e8eb);
  color: #F2F2F2;
  position: fixed;
  top: 60%;
  left: 50%;
  padding: 24px;
}

.arrow__top {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: arrow 2s ease-in-out infinite;
          animation: arrow 2s ease-in-out infinite;
}
@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translate(0px, 50px);
            transform: translate(0px, 50px);
  }
  50% {
    -webkit-transform: translate(0px, 60px);
            transform: translate(0px, 60px);
  }
  100% {
    -webkit-transform: translate(0px, 50px);
            transform: translate(0px, 50px);
  }
}
@keyframes arrow {
  0% {
    -webkit-transform: translate(0px, 50px);
            transform: translate(0px, 50px);
  }
  50% {
    -webkit-transform: translate(0px, 60px);
            transform: translate(0px, 60px);
  }
  100% {
    -webkit-transform: translate(0px, 50px);
            transform: translate(0px, 50px);
  }
}

.arrow__center {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: arrow 2s ease-in-out infinite;
          animation: arrow 2s ease-in-out infinite;
}
@keyframes arrow {
  0% {
    -webkit-transform: translate(0px, 60px);
            transform: translate(0px, 60px);
  }
  50% {
    -webkit-transform: translate(0px, 70px);
            transform: translate(0px, 70px);
  }
  100% {
    -webkit-transform: translate(0px, 60px);
            transform: translate(0px, 60px);
  }
}

.arrow__bottom {
  -webkit-animation: arrow 2s ease-in-out infinite;
          animation: arrow 2s ease-in-out infinite;
}
@keyframes arrow {
  0% {
    -webkit-transform: translate 0px;
            transform: translate 0px;
  }
  50% {
    -webkit-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
  }
  100% {
    -webkit-transform: translate 0px;
            transform: translate 0px;
  }
}