html{
    font-size: 100%;
}

body, html{
    height: 100%;
}

body{
    background-color:$blue ;
    
}

.longout{
    width: 100%;
    display: flex;
    color:$white;
    position: relative;
    justify-content: right;
    align-items: center;
    
    
}


