//------------> $CLASS COLOR <-----------//

$color-basic: (
    'graylight':     $color-graylight,
    'graydark':      $color-graydark,
    'main':          $color-main,
    );
    
    @each $color, $value in $color-basic {
        .color-bg-#{$color} {
            background-color: $value;
        }
        
    }

//--------------> $CLASS SPACE <--------------------//

$space-unit: (
    'unit':         $unit,
    'small':        $space-small,
    'medium':       $space-medium, 
    'big':          $space-big, 
    'verybig':      $space-verybig, 
    );

@each $space, $value in $space-unit {
    .space-margin-#{$space} {
        margin: $value;
    }
    
}