
//-----------------------> TYPOGRAPHY <------------------------//
@mixin fontstyle($fontsize,$color,$weight){
    font-size: $fontsize;
    font-family: $fontfamily;
    color: $color;
    font-weight: $weight;
   
}



//------------------------> SVG <-------------------------------//

@mixin icons ($font-size){
  width: 1em;
  height: 1em;
  font-size: $font-size;
}

//----------------------> SCROLL <---------------------------//


//----------------------> MEDIA QUERIES <---------------------//

@mixin media($media) {
  @if $media == sm {
    @media (max-width: $breakpoint-sm) {@content; }
  }
  @else if $media == md {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) { @content; }
  }
  @else if $media == lg {
    @media (min-width: $breakpoint-md){@content;}
  }
    
}

  
    
  
