
//---------------->$TYPOGRAPHY
@mixin fontstyle($fontsize,$color,$weight){
    font-size: $fontsize;
    font-family: $fontfamily;
    color: $color;
    font-weight: $weight;
    margin: $unit;
    margin-left: $space-medium;
    
 
}
