// ------------> $SPACE <------------//
$unit: 6px;
$space-small: $unit * 2; //12//
$space-medium: $unit * 4; //24//
$space-big: $unit * 6; //36//
$space-verybig: $unit * 8; //48//
$pagemaxwidth:1024px;




//----------> $COLORES <------------//
$color-main:#FFC700;
$color-graydark:#4B4B4B;
$color-graydark-opacity:rgba(79,79,79,0.8); 
$color-graylight:#F2F2F2;
$color-white: white;

//----------> $DEGRADED <---------//
$degraded:150deg, #FFC700, #85e8eb;


//---------> $TYPOGRAPHY <-------------//

$fontfamily:'Poppins', sans-serif;



//weight//
$regular:400;
$bold:700;
